/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/* 
#playButton, #settingButton, #quitButton {
    -fx-background-color: linear-gradient(to bottom, #FFA500, #FF8C00); 
    -fx-background-radius: 20px; 
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0, 0, 1); 
}

#playButton:hover, #settingButton:hover, #quitButton:hover{
    -fx-background-color: linear-gradient(to bottom, #FF8C00, #FFA500); 
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 8, 0, 0, 2); 
    -fx-cursor: hand;
}

*/

.button{
	-fx-background-color: linear-gradient(to bottom, #FF8C00, #FF8C00); 
    -fx-background-radius: 20px; 
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0, 0, 1); 
}

.button:hover{
	-fx-background-color: linear-gradient(to bottom, #FF8C00, #FFA500); 
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 8, 0, 0, 2); 
    -fx-cursor: hand;
}


.slider .track {
    -fx-background-color: #CCCCCC; 
}

.slider .thumb {
    -fx-background-color: linear-gradient(to bottom, #FFA500, #FF8C00); 
    -fx-background-radius: 20px; 
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0, 0, 1); 
}

.slider .thumb:hover {
    -fx-background-color: linear-gradient(to bottom, #FF8C00, #FFA500); 
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 8, 0, 0, 2); 
}

.slider .thumb .thumb-label {
    -fx-background-color: linear-gradient(to bottom, #FFA500, #FF8C00); 
    -fx-background-radius: 10px; /* Rounded corners */
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-padding: 5px;
}

.slider .thumb:hover .thumb-label {
    -fx-background-color: linear-gradient(to bottom, #FF8C00, #FFA500); /* Orange gradient thumb label reversed */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0, 0, 1); /* Drop shadow on hover */
}


.countdown-text {
    -fx-text-alignment: center;
}




