.background-image {
    /*-fx-background-image: url("file:/img/asset/background_Home.jpg");*/
    -fx-background-repeat: stretch;
}

.top-bar{
    -fx-background-color: rgba(73, 16, 69,0.8);
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.pink-button{
    -fx-background-color: #FF1145;
    -fx-background-radius: 100;
}

.purple-button{
    -fx-background-color: #491045;
    -fx-background-radius: 100;
}

.transparent-button{
    -fx-background-color: rgba(0,0,0,0);
    -fx-border-color: #FFFFFF;
    -fx-border-radius: 100;
}

.shadow{
    -fx-effect: dropShadow(one-pass-box,rgba(0,0,0,0.3), 10.0 , 0.0 , 0.0, 10.0);
}

.offer-background{
    -fx-background-color: rgba(73, 16, 69,0.8);
    -fx-background-radius: 30;
}
/* Chỉ định font chữ và kiểu chữ */
.text {
    -fx-font-family: "Arial";
    -fx-font-size: 16px;
    -fx-text-fill: #ffffff;
}
/* Chỉ định background và border cho button khi được focus */
.button:focused {
    -fx-background-color: #333333;
    -fx-border-color: #ffffff;
    -fx-border-width: 2px;
}

#start-game-button {
    -fx-background-color: #00ff00;
    -fx-text-fill: #ffffff;
}

.button-keyboard {
  -fx-font-size: 16px;
  -fx-background-color: #e0e0e0;
  -fx-padding: 10px 20px;
  -fx-text-fill: #333;
}
